<div class="container mt-5">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @restaurant.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= @restaurant.address %>
  </p>

  <p>
    <strong>Phone Number:</strong>
    <%= @restaurant.phone_number %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= @restaurant.category %>
  </p>

  <p>
    <strong>
      Reviews:
    </strong>
  </p>
  <% @reviews.each do |review| %>
    <li> "<%= review.content %>" | <%= review.rating %></li>
  <hr>
  <% end %>

  <%= link_to 'Add a review', new_restaurant_review_path(@restaurant) %> |
  <%= link_to 'Back', restaurants_path %>

</div>
